<html>
  <head>

  <script data-ad-client="ca-pub-1844894294886502" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<style>
table, td, th {
  border: 1px solid black;
}

th {
  background-color: #728FCE;
}


table {
  width: 60%;
	text-align: center;
  border-collapse: collapse;
}

form {
	width: 60%;
}
</style>
  </head>

  <body>
	<center> <h1> MOSAA: The JOSAA alternative for Medical</h1></center>
	<center><h3> When medico needs an engineer :) </h3>
		<h3>Created by:
			<a href="https://linkedin.com/in/ahsanbarkati">Ahsan Barkati</a> 
			Twitter: <a href="https://twitter.com/ahsan_barkati">@ahsan_barkati</a></h3></center>
	<hr style="width:50%;text-align:left;margin-left:25%">
	<br>
	<br>

	<center>
		<h1><a href="/round1">Round-1</a></h1>
		<h1><a href="/round2">Round-2</a></h1>
	</center>

	</center>
  </body>
</html>
