<html>
  <head>

  <script data-ad-client="ca-pub-1844894294886502" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<style>
table, td, th {
  border: 1px solid black;
}

th {
  background-color: #728FCE;
}

table {
  width: 60%;
	text-align: center;
  border-collapse: collapse;
}

form {
	width: 60%;
}
</style>
  </head>

  <body>
	<center> <h1> MOSAA: The JOSAA alternative for Medical</h1></center>
	<center><h3> When medico needs an engineer :) </h3>
		<h3>Created by:
			<a href="https://linkedin.com/in/ahsanbarkati">Ahsan Barkati</a> 
			Twitter: <a href="https://twitter.com/ahsan_barkati">@ahsan_barkati</a></h3>
	<hr style="width:50%;text-align:left;margin-left:25%">
</center>
	<br>
	<br>

	<center>
		<form  method="POST">
      	{{ form.csrf_token }}
      	<Label> Institute: </Label>{{ form.college }}
				<br>
				<br>
		<input type="submit" value="Submit")></input>
		</form>

		{% if college %}
			<h2> {{college}}</h2>
			{% if cats %}
				<table border=1>
				<tr>
					<th>Category</th>
					<th>Opening</th>
					<th>Closing</th>
					<th>Total</th>
				</tr>
				{% for cat in cats %}
					<tr>
						<td>{{cat}}</td>
						<td>{{oc[cat]["opening"]}}</td>
						<td>{{oc[cat]["closing"]}}</td>
						<td>{{oc[cat]["total"]}}</td>
					<tr>
				{% endfor %}
				</table>
			{% else %}
					<h3>No seats were alloted in second round for this college</h3>
			{% endif %}
		{% endif %}
		<h3><a href="/">Back to home</a></h3>
		<br>
		<br>
		<br>
		<h2>Want to support me?
			<a href="https://buymeacoffee.com/ahsanbarkati">
				<img height=50 src={{url_for('static', filename='coffee.png')}}></img>
			</a>
	</center>
  </body>
</html>
